.contactglo
{
	color: white;
}


html, body {
	margin:0px;
	padding:0px;
	  display: flex;
  min-height: 100vh;
  flex-direction: column;
	background-image: url(../image/background.jpg);
	
}




#main
{
	margin:0px;
	padding:0px;
	overflow:auto;
	padding-bottom: 100px;
}

.footer {
  padding: 20px;
 background-color: white;
 justify-content: center;
 display: flex;
 border-top: 5px solid black;
 z-index: 100;
	width: 100%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.social
{
	background-color: dimgrey;
	display: flex;
	justify-content: center;
	align-items:center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow:hidden;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	float: right;
	margin: 10px;
    
}

.social img
{
	width: 40px;
	height: 40px;
	z-index: 2;
}

nav > img
{
	display: block;
	margin:0px;
	padding:0px;
	width:100%
	
}
.fond-twitter
{
	display:block;
	top: -40px;
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #55acee;
	position:absolute;
	transition: 0.5s;
}

.fond-facebook
{
	display:block;
	top: -40px;
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #3b5998;
	position:absolute;
	transition: 0.5s;
}

.fond-youtube
{
	display:block;
	top: -40px;
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #cc181e;
	position:absolute;
	transition: 0.5s;
}

.social:hover .fond-twitter
{
	top: 0;
}

.Menu
{
	margin:0px;
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.CopyRight
{
 display: flex;
 align-items: center;
justify-content: center;
font-family: 'Raleway', sans-serif;
 font-weight: 100;
}

.timeline
{
	float: left;
	margin: 20px;
}

.rubrique
{
	display: flex;
	border: 3px solid black;
	border-bottom: 0px solid black;
	width: 100%;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	background-color:#5EB6DD;
	margin: 0px;
}

.imageabout
{
	display: flex;
	justify-content: center;
	align-items:center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow:hidden;
	position:relative;
	border: 3px solid black;
	margin: 10px;
}


.imagearticle
{
	border-top: 3px solid black;
	width: 100%;
	margin:0px;
	padding:0px;
	margin: 0px;
	height: auto;
	
}

* {
  box-sizing: border-box;
}

.article-contain
{
	
	display: block;
	font-size: 30px;
	border: 4px solid black;
}

.about-contain
{
	border: 4px solid black;
	width: 100%;
	font-size: 30px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	  padding-top: 45px;
      padding-bottom: 45px;
	  background-color: #b7bcc8;
	  color:black;
	  
}

.discord
{
	position: relative;
	z-index: 1;
	float: right;
	margin: 20px;
	border-radius: 5%;
}

.title
{
	
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	height: auto;
	font-size: 15px;
}

.sousparti2
{
	font-family: 'Oswald', sans-serif;
	color: #EEEEEE;
	font-size: 38px;
	margin-top: 300px;
	margin-left: 350px;
		margin-bottom: 40px;
	text-decoration-line: underline;
}

.sousparti1
{
font-family: 'Oswald', sans-serif;
	color: #EEEEEE;
	font-size: 38px;
	margin-left: 350px;
	margin-bottom: 40px;
	text-decoration-line: underline;
}

.article
{
	display: inline-block;
	margin-left: 100px;
	width: 22%;
	font-size: 7px;
	margin-bottom: 30px;
	top: 20px;
	height: auto;
	float: left;
	z-index: 1;
	background-color: #EEEEEE;
	
}


.Menu
{
	margin:0px;
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto
}


.social:hover .fond-facebook
{
	top: 0;
}

.social:hover .fond-youtube
{
	top: 0;
}

body
{
	margin: 0px;
	padding:0px;
}

nav li
{
	list-style-type: none;
}

nav > ul > li
{
	float:left;
	position: relative;
}

.submenu
{
	display:none;
}

nav input[type=checkbox]
{
	display:none;
}

nav > label
{
	display: none;
}

nav > ul::after
{
	content:"";
	display:none;
	clear:both;
}

nav a
{
	display:inline-block;
	text-decoration: none;
}

nav > ul
{
 width:50%
 margin:auto;
}

nav > ul > li > a
{
	padding:20px 30px;
	color: black;
}

nav li:hover .submenu
{
	display: inline-block;
	position:absolute;
	top:100%;
	left: 0px;
	padding: 0px;
	z-index:1000;
}

.submenu li a 
{
	padding: 15px 30px;
	font-size: 13px;
	color: black;
	width: 270px;
	
}

#nav{
		width:960px;
	margin:0 auto;/*centrage marges automatiques*/
	text-align:center;/*centre les inline qu'il contient*/
	
    }

nav > ul > li:hover > a
{
	padding:20px 30px 20px 30px;
}

.submenu li
{
 border-bottom: 1px solid black;	
}

.submenu
{
	background-color: white;
}

.subenu li:hover a
{
	color: #EEE;
	font-weight: 500;
}

.subenu li a
{
	color: #EEE;
	font-weight: 300;
}

nav
{
 border-bottom: 5px solid black;
 position: fixed;
 background-color: white;
 font-family: 'Roboto', sans-serif;
 font-size: 15px;
 width: 100%;
 z-index: 1000;
}

nav input[type=checkbox]:checked ~ ul
{
	display:block;
}

/* Regles appliquees aux ecrans inferieurs à 1024px */
@media all and (max-width: 1024px)
{
	body 	{
			width: auto;
			margin: 0;
			padding: 0;
			}
	
	/*menu de navigation responsive*/
	.menu-mobile	{
					display:block;
					color:black;
					background-color: white;
					text-align:center;
					padding: 8px;
					width: auto;
					border-bottom: 3px solid black;
					}
	/* N'affiche pas le menu tant que la case n'est pas cocher*/
	nav ul	{
			display:none;
			}
	nav ul li,
	nav ul li a {
				display: block;
				width: 100%;
				}
				
	nav li:hover .submenu	{
							color: black;
							position: relative;
							right:
							display: block;
							}
				
				
	
}

/* Pour les ecrans inferieurs à 320px, on n'affiche pas les tableaux*/
@media all and (max-width: 320px)
{
	table	{
			display : none;
			}
	video	{
			display : none;
			}
}
